body {
    text-align: center;
    margin-top: 30px;
}

#generate {
    margin-top: 20px;
}

#copyToClipboard {
    margin-top: 20px;
}

textarea {
    text-align: center;
}

h3 {
    padding: 10px 15px;
}